<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>admin</title>
  </head>
  <body>
    <form class="form-box" action="/admin/login" method="POST">
      <input name="username" type="email" placeholder="계정" />
      <input name="password" type="password" placeholder="비밀번호" />
      <input name="rememberme" type="checkbox" placeholder="자동 로그인 여부" />
      <button type="submit">로그인</button>
    </form>
  </body>
</html>
