<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>quick-tips</title>
  </head>
  <body>
    <p>여기에 quick-tips 중 하나 출력</p>
  </body>
</html>
